#container
{
    height: 1600px;
    width: 1200px;
    margin: auto;
    background-color: azure;
    background-size: 1200px 1600px;
    background-repeat: no-repeat;
    border-radius: 28px;
}

h1,h2,p
{
    padding: 10px
}

#top
{
    height: 200px;
    width: 1200px;
    text-align: center;
    background-image:url(top.jpg);
    background-size: 1200px 200px;
    background-repeat: no-repeat;
}

#menu
{
    height: 55px;
    width: 1200px;
    text-align: center;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    margin:5px 60px 0px 65px;
    background: #67aac2;
    background-image: -webkit-linear-gradient(top, #67aac2, #c2fff7);
    background-image: -moz-linear-gradient(top, #67aac2, #c2fff7);
    background-image: -ms-linear-gradient(top, #67aac2, #c2fff7);
    background-image: -o-linear-gradient(top, #67aac2, #c2fff7);
    background-image: linear-gradient(to bottom, #67aac2, #c2fff7);
    border: 1px solid gray;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#textbox
{
    height: 500px;
    width: 400px;
    background-color: transparent;
    float: left;
    border: 10px solid #ff7f50;
    border-radius: 28px;
    color: #ff7f50;
    font-family: "Chancery URW";
    font-size: 18px;
    line-height: 220%;
    text-align: center;
}
